body {
    font-family: 'Roboto', serif;
    display: flex;
    flex-flow: column;
    margin: 0;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    
}

a {
    text-decoration: none;
    color: #aaaaad;
}

img{
    height: 250px;
   
}

/* Seperate between elements and classes */

.header{
    color: #fafafa;
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
}


.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 100px;
    color: #fafafa;
    background-color: #1F2937;
}

.heroR{

    display: flex;
    flex-flow: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    flex: 0 0 auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 100px;
}

.info{
    max-width: 100px;
    max-height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    background-color: #E5E7EB;
    padding: 50px 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.quotebody {
    display: flex;
    flex-direction: column;
}

.test{
    background-color: red;
}

/* Seperate between classes and ids */

#idforthelogo {
    font-size: 40px;
    flex: 0 0 auto;
}

#idforthehero {
    font-size: 30px;
}

#idforherobutton {
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(218, 218, 218);
    background-color: rgb(31, 31, 31);
}

#idforgalleryhead {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

#idforquotebody{
    display: flex;
    max-width: 700px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
    padding: 0;
    
}

#idforquotesign{

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 18px;
    color: #08090a;
    font-weight: 700;
    
}