body {
    font-family: 'Roboto', serif;
    display: flex;
    flex-flow: column;
    margin: 0;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    
}

a {
    text-decoration: none;
    color: #aaaaad;
}

.header{
    color: #fafafa;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
}

.classforthelogo {
    font-size: 40px;
}